.classify
  text-align: center
  
  h1
    titled()
  
  h3
    subtitled()
    display: inline-block
    margin: 0
    cursor: pointer
  
  .choose-button
    @extend .hidden-xs
    center-block()
    transitioned()
    title-font(700)
    margin: 20px auto 0 auto
    width: 221px
    height: 60px
    background-color: $red
    border-radius(6px)
    text-align: center
    line-height: 60px
    font-size: 18px
    text-transform: uppercase
    letter-spacing: 1px
    cursor: pointer
    
    &:hover
      background-color: rgba($red, 0.8)
  
  .subjects
    .subject .image-container
      center-block()
      position: relative
      cursor: pointer
      
      img
        width: 100%
  
  .current.subjects
    @extend .col-sm-12
    margin-top: 35px
    
    .subject
      @extend .col-md-5
      @extend .col-sm-5
      @extend .col-xs-6
      
      &.first
        @extend .col-md-offset-1
        @extend .col-sm-offset-1
      
      .image-container img
        framed(8px)
  
  .recent.subjects
    @extend .col-md-10
    @extend .col-sm-12
    @extend .col-md-offset-1
    margin-top: 20px
    min-height: 50px
    
    .subject
      @extend .col-md-1
      @extend .col-sm-1
      @extend .col-xs-2
      
      margin: 10px 0
      @media $media-min-desktop
        margin-bottom: 0
      
      .image-container img[src]
        framed(2px)
        width: 100%
      
      .information
        opacity: 0
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        overflow: hidden
        text-align: center
        cursor: auto
  
  .tool
    @extend .hidden-xs
    center-block()
    
    .invert
      circle()
      transitioned(500ms)
      center-block()
      vendor('transition-timing-function', ease-out)
      position: relative
      background-color: $red
      border: 3px solid $transparent
      cursor: pointer
      font-size: 22px
      line-height: 40px
      top: -54px
      
      &:hover
        border: 3px solid rgba($red, 0)
        background-color: rgba($red, 0.8)
      
      &.active
        border: 3px solid $red
        background-color: $white
        color: $red
      
      &:hover .label
        opacity: 1
      
      .label
        transitioned()
        title-font()
        position: absolute
        opacity: 0
        width: 160px
        top: 30px
        left: -60px
        text-align: center
        font-size: 16px
        color: $white
