.classify
  text-align: center
  
  h1
    title-font(700)
    margin: 5px 0
    font-size: 20px
    text-transform: uppercase
    text-align: center
    letter-spacing: 1px
  
  h3
    title-font()
    margin: 5px 0
    font-size: 12px
    text-align: center
    letter-spacing: 1px
  
  .choose-button
    center-block()
    transitioned()
    title-font(700)
    margin: 20px auto 0 auto
    width: 221px
    height: 60px
    background-color: $red
    border-radius(6px)
    text-align: center
    line-height: 60px
    font-size: 18px
    text-transform: uppercase
    letter-spacing: 1px
    cursor: pointer
    
    &:hover
      background-color: rgba($red, 0.8)
  
  .subjects
    @extend .col-md-10
    @extend .col-md-offset-1
    margin-top: 35px
    
    .subject
      @extend .col-md-5
      
      .image-container
        @extend .col-md-5
        center-block()
        position: relative
        width: 384px
        height: 340px
        cursor: pointer
        
        .overlay
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          border: 8px solid $white
          border-radius(4px)
        
        img
          position: absolute
          top: 2px
          left: 2px
          width: 380px
          height: 336px
    
    .tools
      @extend .col-md-1
      margin-top: 159px
      
      .group
        position: relative
        border: 3px solid transparent
        
        &.open
          .handle
            border: 3px solid $red
            background-color: $blue
            
            &:hover
              background-color: $blue
              border: 3px solid $red
          
          .tool
            opacity: 1
            
            &.top
              top: -60px
              
              .label
                top: -24px
            
            &.bottom
              top: 60px
              
              .label
                top: 44px
        
        .handle
          transitioned()
          circle()
          position: relative
          background-color: $red
          cursor: pointer
          font-size: 22px
          line-height: 41px
          z-index: 2
          
          &:hover
            border: 3px solid transparent
            background-color: rgba($red, 0.8)
        
        .tool
          transitioned(500ms)
          vendor('transition-timing-function', ease-out)
          position: absolute
          top: 0px
          opacity: 0
          cursor: pointer
          z-index: 1
          
          &:hover
            .label
              opacity: 1
          
          .label
            opacity: 0
            top: 0px
          
          &.active .icon
            background-color: $red
          
          .label
            transitioned()
            title-font()
            position: absolute
            opacity: 0
            width: 160px
            left: -58px
            text-align: center
          
          .icon
            transitioned()
            circle()
            font-size: 22px
            line-height: 41px
