$red = #F64C4C
$white = #FFFFFF
$black = #000000
$blue = #212B34
$light-blue = #6F9FD9
$yellow = #ECF556

rule-above()
  position: relative
  
  &:after
    border-top: 1px solid rgba($white, 0.20)
    border-bottom: 1px solid rgba($black, 0.20)
    content: ""
    height: 0
    left: 0
    position: absolute
    bottom: 100%
    width: 100%

rule-below()
  position: relative
  
  &:after
    border-bottom: 1px solid rgba($white, 0.20)
    border-top: 1px solid rgba($black, 0.20)
    content: ""
    height: 0
    left: 0
    position: absolute
    top: 100%
    width: 100%

circle()
  border-radius: 22px
  width: 44px
  height: 44px
  border: 3px solid transparent
  background-color: auto
  
  &:hover
    border: 3px solid $red
  
  &.active
    background-color: $red

framed(size)
  border: (size / 2) solid $white
  border-radius(size / 4)
  
  @media $media-min-desktop
    border: size solid $white
    border-radius(size / 2)

transitioned(duration = 200ms)
  vendor('transition-property', 'all')
  vendor('transition-duration', duration)

titled()
  title-font(700)
  margin: 5px 0
  font-size: 20px
  text-transform: uppercase
  text-align: center
  letter-spacing: 1px

subtitled()
  title-font()
  margin: 5px 0
  font-size: 12px
  text-align: center
