smoothed-font()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

standard-font(weight=400)
  smoothed-font()
  font-family: 'Open Sans', sans-serif
  font-weight: weight

title-font(weight=400)
  smoothed-font()
  font-family: 'Montserrat', sans-serif
  font-weight: weight

condensed-font()
  smoothed-font()
  font-family: 'Roboto Condensed', sans-serif
  font-weight: 300
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@font-face
  font-family: 'Elusive-Icons'
  src:url('fonts/Elusive-Icons.eot')
  src:url('fonts/Elusive-Icons.eot?#iefix') format('embedded-opentype'), url('fonts/Elusive-Icons.woff') format('woff'), url('fonts/Elusive-Icons.ttf') format('truetype'), url('fonts/Elusive-Icons.svg#Elusive-Icons') format('svg')
  font-weight: normal
  font-style: normal

[data-icon]:before
  smoothed-font()
  font-family: 'Elusive-Icons'
  content: ''
  speak: none
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

[data-icon="comment"]:before
  content: '\e106'

[data-icon="star"]:before
  content: '\e031'

[data-icon="twitter"]:before
  content: '\e018'

[data-icon="contrast"]:before
  content: '\e0db'

[data-icon="group"]:before
  content: '\e0d8'
