.home .welcome
  @extend .col-md-6
  @extend .col-md-offset-3
  text-align: center
  
  @media $media-min-desktop
    padding-top: 45px
  
  h1
    margin: 15px 0 45px 0
    
    img
      width: 300px
      
      @media $media-max-phone
        width: 60vw
        max-width: 300px
  
  h2
    title-font(700)
    margin: 0
    font-size: 18px
    text-transform: uppercase
    letter-spacing: 3px
  
  h3
    margin: 0 0 75px 0
    font-size: 18px
    font-weight: normal
    letter-spacing: 1.5px
    
    @media $media-max-phone
      margin-top: 20px
      font-size: 14px
      letter-spacing: 0
  
  .button
    transitioned()
    title-font(700)
    border-radius(6px)
    center-block()
    display: block
    width: 180px
    padding: 18px 6px
    background-color: $light-blue
    font-size: 14px
    line-height: 14px
    text-transform: uppercase
    letter-spacing: 1px
    
    &:hover
      background-color: rgba($light-blue, 0.8)
  
  .science-link
    display: inline-block
    margin-top: 12px
    padding-bottom: 2px
    border-bottom: 1px solid #FFFFFF
    letter-spacing: 1px
