.home .welcome
  @extend .col-md-6
  @extend .col-md-offset-3
  text-align: center
  
  @media $media-min-desktop
    padding-top: 45px
  
  h1
    condensed-font()
    margin: 0 0 45px 0
    font-size: 48px
    text-transform: uppercase
    letter-spacing: 5px
  
  h2
    title-font(700)
    margin: 0
    font-size: 18px
    text-transform: uppercase
    letter-spacing: 3px
  
  h3
    margin: 0 0 75px 0
    font-size: 18px
    font-weight: normal
    letter-spacing: 1.5px
  
  .button
    transitioned()
    title-font(700)
    border-radius(6px)
    center-block()
    display: block
    width: 180px
    padding: 18px 6px
    background-color: $light-blue
    font-size: 14px
    line-height: 14px
    text-transform: uppercase
    letter-spacing: 1px
    
    &:hover
      background-color: rgba($light-blue, 0.8)
  
  .science-link
    display: inline-block
    margin-top: 12px
    padding-bottom: 2px
    border-bottom: 1px solid #FFFFFF
    letter-spacing: 1px
