html, body
  min-width: 320px

body
  standard-font()
  background-color: $blue
  color: $white
  
  &:after
    position: fixed
    z-index: -1
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(rgba($blue, 0) 0%, rgba($blue, 0.5) 20%, rgba($blue, 0.8) 80%, rgba($blue, 1) 100%)

a:link, a:active, a:visited
  outline: 0
  text-decoration: none
  color: $white
  cursor: pointer

p
  margin-top: 0
  line-height: 22px

.background-wrapper
  position: absolute
  z-index: -2
  top: 0
  left: 0
  width: 100%
  opacity: 0.5
  
  .sun
    position: absolute
    top: -50px
    left: 0
    width: 100%

nav
  margin: 0 0 20px 0
  
  @media $media-min-tablet
    margin: 20px 0 65px 0

#app
  padding-top: 50px
  min-height: 400px

.zooniverse-top-bar
  standard-font()
  background-color: rgba($black, 0.5)
  
  .corner path
    fill: rgba($black, 0.5)
    stroke: rgba($black, 0.5)
  
  &:before
    border-color: rgba($black, 0.5) rgba($black, 0.5) transparent transparent

.zooniverse-dialog
  standard-font()

.zooniverse-footer
  rule-above()
  margin: 50px auto 20px auto
  padding-top: 40px
  color: #5C7992
  
  .zooniverse-logo
    color: $black
  
  .zooniverse-footer-general
    margin-top: 2em
    padding-top: 2em
  
  @media $media-max-phone
    .zooniverse-footer-heading
      font-size: 12px
      text-align: justify
    
    .zooniverse-footer-projects
      display: none

.zooniverse-dialog .underlay .container
  @media $media-max-phone
    overflow-y: auto
  
  .dialog
    width: 60%
    min-width: 290px
    max-width: 600px
    max-height: 100vh
    overflow-y: auto
    
    .explanation
      @extend .container
      font-size: 12px
      
      p
        @extend .row
      
      .examples
        @extend .container
        
        .example
          @extend .row
          padding-bottom: 20px
          
          .left, .right
            @extend .col-xs-6
            
            img
              width: 100%
            
            div
              text-align: center
  
  button[name="close-dialog"]
    font-size: 16px
    height: 1em
    position: absolute
    right: 4px
    top: 0
    width: 1em

.science, .education
  h1
    titled()
  
  section
    @extend .col-md-10
    @extend .col-sm-12
    @extend .col-xs-12
    @extend .col-md-offset-1
    
    padding: 0 10px
    margin-bottom: 40px
    
    .row
      margin: 0 0 20px 0
      font-size: 14px
      text-align: center
      @media $media-min-desktop
        text-align: left
      
      ul
        list-style: circle outside none
        
        li
          margin-bottom: 10px
