nav
  position: relative
  line-height: 30px
  padding: 10px 20px
  margin: 0 2% 20px 2%
  border-radius: 6px
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.05)
  background-color: rgba(0, 0, 0, 0.10)
  
  @media $media-min-tablet
    padding: 0
    margin: 20px 0 65px
    border-radius: 0
    box-shadow: 0 0 0 0 transparent
    background-color: transparent
  
  @media $media-max-phone
    .nav-link:not(.active)
      display: none
    
    &.open
      .menu-handle
        background-color: $red
      
      .nav-link
        display: block
  
  .menu-handle
    transitioned(500ms)
    center-block()
    vendor('transition-timing-function', ease-out)
    position: absolute
    top: 55px
    left: 15px
    width: 40px
    height: 40px
    cursor: pointer
    background-color: rgba($red, 0)
    color: $white
    border-radius: 20px
    
    .icon
      position: absolute
      left: 9px
      font-size: 22px
      line-height: 40px
      cursor: pointer
  
  .row
    @media $media-max-phone
      padding-top: 5px
      padding-left: 45px
  
  .logo
    @extend .col-md-3
    @extend .col-sm-3
    @extend .col-xs-12
    float: left
    margin: 0
    text-align: center
    
    @media $media-min-tablet
      text-align: left
    a
      display: inline-block
      
      img
        width: 170px
  
  .links
    @extend .col-md-9
    @extend .col-sm-9
    @extend .col-xs-12
    text-align: center
    
    @media $media-min-tablet
      text-align: right
  
  .nav-link
    transitioned()
    title-font(700)
    display: block
    margin: 7px 0
    padding: 6px 0
    font-size: 12px
    line-height: 12px
    border: 2px solid rgba($red, 0)
    border-radius: 4px
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.3)
    letter-spacing: 1px
    background-color: rgba($red, 0)
    
    @media $media-min-tablet
      display: inline-block
      margin: 0 3px 0 0
      padding: 1px 6px
      border: 3px solid rgba($red, 0)
      border-radius: 20px
    
    @media $media-min-desktop
      margin: 0 14px 0 0
      padding: 6px 12px
    
    &:hover, &.active
      border: 2px solid $red
      
      @media $media-min-tablet
        border: 3px solid $red
    
    &.active
      background-color: $red
    
    &.active:hover
      background-color: rgba($red, 0.8)
      border: 2px solid transparent
      
      @media $media-min-tablet
        border: 3px solid transparent

.science nav
  @extend .col-md-12
  @extend .col-sm-12
  margin-top: 0
  margin-bottom: 20px
  padding-bottom: 10px
  
  .menu-handle
    top: 15px
  
  .row
    margin-bottom: 0
  
  @media $media-min-tablet
    rule-below()
  
  .links
    @extend .col-md-12
    @extend .col-sm-12
    text-align: center
    
    .nav-link
      margin-right: 5px
