.zooniverse-profile
  @extend .row
  
  .sign-in-form
    .action button
      transitioned()
      title-font(700)
      border-radius(6px)
      center-block()
      display: block
      width: 180px
      padding: 18px 6px
      background-color: $light-blue
      color: $white
      font-size: 14px
      line-height: 14px
      text-transform: uppercase
      letter-spacing: 1px
      cursor: pointer
      
      &:hover
        background-color: rgba($light-blue, 0.8)
    
    .no-account button
      appearance: none
      background: transparent
      border: 0
      color: inherit
      cursor: pointer
      font: inherit
      margin: 0 0 0 10px
      padding: 0
      
      &:disabled
        opacity: 0.5
        pointer-events: none
  
  .row
    margin: 5px 0 20px 0
  
  h1
    title-font(700)
    margin-bottom: 10px
    font-size: 20px
    text-transform: uppercase
    text-align: center
    letter-spacing: 5px
  
  .switcher
    @extend .row
    @extend .clearfix
    text-align: left
    padding: 15px
    
    .links
      float: left
      
      a
        transitioned()
        display: inline-block
        margin: 0 7px 0 0
        padding: 3px 6px
        font-size: 12px
        line-height: 12px
        border-radius(12px)
        border: 2px solid rgba($red, 0)
        text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.3)
        letter-spacing: 1px
        background-color: rgba($red, 0)
        
        &:hover, &.active
          border: 2px solid $red
        
        &.active
          background-color: $red
        
        &.active:hover
          background-color: rgba($red, 0.8)
          border: 2px solid transparent
      
    .pages
      margin-top: 10px
      @media $media-min-desktop
        margin-top: auto
        float: right
      
      .previous
        margin-right: 20px
      
      .next
        margin-left: 20px
      
      .disabled
        opacity: 0.5
        pointer-events: none
  
  .subjects
    @extend .row
    
    .subject
      @extend .col-md-3
      @extend .col-sm-4
      @extend .col-xs-6
      margin-bottom: 20px
      
      .image-container
        center-block()
        framed(8px)
        position: relative
        cursor: pointer
        
        img
          z-index: 1
          opacity: 1
          width: 100%
          vertical-align: top
          vendor('transition-property', 'opacity')
          vendor('transition-duration', 600ms)
      
      .information
        @extend .row
        opacity: 0.3
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        overflow: hidden
        text-align: center
        cursor: auto
        margin-left: 0
        margin-right: 0
        vendor('transition-property', 'opacity')
        vendor('transition-duration', 600ms)
        
        .left
          @extend .col-md-9
          @extend .col-sm-9
          @extend .col-xs-9
          padding: auto 0
        
        .right
          @extend .col-md-3
          @extend .col-sm-3
          @extend .col-xs-3
          padding: auto 0
        
        .info
          position: relative
          z-index: 2
          margin-top: 10%
          
          .label
            title-font()
            color: $red
            font-size: 12px
            font-weight: bold
            text-transform: uppercase
            letter-spacing: 4px
          
          .value
            condensed-font()
            font-size: 14px
            letter-spacing: 1px
            text-transform: uppercase
            
            @media $media-max-tablet
              font-size: 14px
            
            @media $media-min-desktop
              font-size: 20px
        
        .actions
          text-align: center
          
          .action
            circle()
            margin-top: 10%
            cursor: pointer
            font-size: 22px
            line-height: 39px
            
            &.favorited
              background-color: $red
      
      &:hover
        img
          opacity: 0.5
        
        .information
          opacity: 1
