.science
  position: relative
  
  nav
    rule-below()
    @extend .col-md-10
    @extend .col-sm-12
    @extend .col-xs-12
    @extend .col-md-offset-1
    margin-top: 0
    margin-bottom: 20px
    padding-bottom: 10px
    
    @media $media-min-desktop
      text-align: left
    
    .links
      @extend .col-md-12
      @extend .col-sm-12
      @extend .col-xs-12
      
      @media $media-min-desktop
        text-align: left
      
      .nav-link
        margin-right: 5px
