.science
  position: relative
  
  nav
    rule-below()
    @extend .col-md-10
    @extend .col-sm-12
    @extend .col-xs-12
    @extend .col-md-offset-1
    margin-top: 0
    margin-bottom: 20px
    padding-bottom: 10px
    
    @media $media-min-desktop
      text-align: left
    
    .links
      @extend .col-md-12
      @extend .col-sm-12
      @extend .col-xs-12
      
      @media $media-min-desktop
        text-align: left
      
      .nav-link
        margin-right: 5px
  
  .table-row .table-cell
    margin-bottom: 20px
    padding: 0 15px
  
  @media $media-min-desktop
    .table-row
      display: table-row
      
      .table-cell
        display: table-cell
        vertical-align: middle
        margin-bottom: 0
        padding: 0 15px
  
  .captioned-image
    text-align: center
    
    img
      border: 4px solid $white
      border-radius: 2px
      box-shadow: -2px 2px 3px 0 rgba($black, 0.5)
    
    .caption
      font-style: italic
      padding: 0 20px
      
      p
        margin: 2px 0
      
      .text p
        font-size: 12px
        line-height: 13px
        font-weight: bold
        
      .credit p
        font-size: 8px
        line-height: 9px
