.stats
  padding: 75px 0 100px 0
  text-align: left
  
  .stat
    .label
      title-font()
      color: $red
      font-size: 12px
      font-weight: bold
      text-transform: uppercase
      letter-spacing: 4px
    
    .value
      condensed-font()
      font-size: 48px
      letter-spacing: 3px
