.stats
  padding: 75px 0 0 0
  text-align: left
  
  .stat
    @extend .col-md-3
    @extend .col-sm-6
    @extend .col-xs-12
    
    
    text-align: center
    padding-bottom: 20px
    @media $media-min-desktop
      text-align: left
      padding-bottom: 100px
    
    .label
      title-font()
      color: $red
      font-size: 12px
      font-weight: bold
      text-transform: uppercase
      letter-spacing: 4px
    
    .value
      condensed-font()
      font-size: 48px
      letter-spacing: 3px
