header
  .zooniverse-top-bar
    top: auto

#summer-of-science
  position: relative
  background-color: $red
  max-width: 100%
  overflow: hidden
  padding: 10px 0
  
  line-height: 12px
  font-size: 12px
  
  @media $media-min-lg-desktop
    line-height: 70px
    font-size: 16px
    padding: 0
  
  .content
    @extend .col-xs-8
    color: white
    text-align: center
    z-index: 1
    overflow: hidden

  .progress
    transitioned(1s)
    background: darken(red, 22%)
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 0
    z-index: 0
  
  .current, .goal
    condensed-font()
    @extend .col-xs-2
    color: white
    word-wrap: break-word
    text-align: center
    line-height: 18px
    font-size: 18px

    @media $media-min-lg-desktop
      line-height: 70px
      font-size: 32px
