.team
  @extend .container
  
  section
    @extend .row
    
    &:last-child
      padding-top: 45px
    
    clearfix()
    padding-bottom: 20px
    
    h1
      titled()
    
    h3
      subtitled()
    
    hr
      rule-above()
    
    .person
      @media $media-min-tablet
        width: 49%
      
      @media $media-min-desktop
        width: 24%
      
      display: inline-block
      position: relative
      vertical-align: top
      min-width: 170px
      margin: 40px 0
      padding: 0 10px
      text-align: center
      
      .avatar
        position: relative
        display: inline-block
        margin-bottom: 20px
        border: 6px solid $white
        border-radius(100%)
        overflow: hidden
        
        img
          vertical-align: top
      
      .name
        title-font(700)
        margin-bottom: 10px
        font-size: 20px
        line-height: 20px
        text-transform: uppercase
      
      .title
        margin-bottom: 20px
        font-size: 14px
        line-height: 14px
        letter-spacing: 1px
      
      .description
        font-size: 14px
