<div class="science goals row">
  <section>
    <div class="row">
      {{partial 'science/nav'}}
      Science goals and why we need you
    </div>
    <div class="row">
      
    </div>
  </section>
</div>
