<div class="container">
  <nav>
    <h1 class="logo">{{#linkTo 'index'}}Sunspotters{{/linkTo}}</h1>
    {{#linkTo 'classify' classNames='nav-link'}}Classify{{/linkTo}}
    {{#linkTo 'science' classNames='nav-link'}}Science{{/linkTo}}
    {{#linkTo 'education' classNames='nav-link'}}Education{{/linkTo}}
    {{#linkTo 'team' classNames='nav-link'}}Team{{/linkTo}}
    {{#linkTo 'discuss' classNames='nav-link'}}Discuss{{/linkTo}}
    {{#linkTo 'blog' classNames='nav-link'}}Blog{{/linkTo}}
    {{#linkTo 'profile' classNames='nav-link'}}Profile{{/linkTo}}
  </nav>
  
  {{ outlet }}
</div>
