<div class="done">
  <section>
    <div class="row">
      {{translate 'h1' 'donePage.title'}}
    </div>
    
    <div class="row">
      {{partial 'complete_message'}}
    </div>
  </section>
</div>
