<div class="home">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 welcome">
      <h2>Welcome to</h2>
      <h1>Sunspotters</h1>
      <h3>We need you help to organize images of sunspots based on their complexity!</h3>
      {{#linkTo 'classify' classNames="button"}}Start Ranking{{/linkTo}}
      {{#linkTo 'science' classNames="science-link"}}<em>What are sunspots?</em>{{/linkTo}}
    </div>
  </div>
  
  {{view App.StatsView}}
</div>
