<div class="stats row">
  <div class="stat">
    <div class="label">Images Ranked</div>
    <div class="value">{{ formatNumber view.ranked }}</div>
  </div>
  
  <div class="stat">
    <div class="label">Images Remaining</div>
    <div class="value">{{ formatNumber view.remaining }}</div>
  </div>
  
  <div class="stat">
    <div class="label">Community Progress</div>
    <div class="value">{{ formatNumber view.progress }}%</div>
  </div>
  
  <div class="stat">
    <div class="label">Regions Available</div>
    <div class="value">{{ formatNumber view.regions }}</div>
  </div>
</div>
