<div class="image-container" {{action "choose" this}}>
  <img {{bindAttr src="image"}}>
</div>

<div class="choose-button" {{action "choose" this}}>
  {{translate 'span' 'classifyPage.chooseSubject'}}
</div>
