<div class="team">
  <section>
    <h1>The Sunspotters Team</h1>
    <h3>The scientists behind the science</h3>
    
    {{#team-member name="Joe Smith" title="Scientist"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Scientist"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Scientist"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Scientist"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Scientist"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Scientist"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Scientist"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
  </section>
  
  <hr />
  
  <section>
    <h1>The Zooniverse Team</h1>
    <h3>The people behind the project</h3>
    {{#team-member name="Joe Smith" title="Developer"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Developer"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Developer"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Developer"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Developer"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Developer"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Developer"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
    {{#team-member name="Joe Smith" title="Developer"}}A decription of this person who makes stuff at the Zooniverse. Give some mad props.{{/team-member}}
  </section>
</div>
