<div class="tools">
  <div class="group"><!-- TO-DO: open toggle -->
    <div class="handle" data-icon="group"></div>
    
    <div class="tool top"><!-- TO-DO: favorite toggle -->
      <div class="label">Favorite</div>
      <div class="icon" data-icon="star"></div>
    </div>
    
    <div class="tool bottom"><!-- TO-DO: inverted toggle -->
      <div class="label">Invert</div>
      <div class="icon" data-icon="contrast"></div>
    </div>
  </div>
</div>
